node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea
.vscode
.env
package-lock.json
flow-typed

android/fastlane/api.json

android/.gradle/*
android/app/build/*
android/app/key.keystore
android/app/google-services.json
android/app/src/release/google-services.json
android/app/src/debug/google-services.json

ios/build/*
ios/Pods/*
ios/Podfile.lock
/ios/GoogleService-Info.plist
/ios/Jarvis.app.dSYM.zip
/ios/Jarvis.ipa

/android/app/key.keystore
/android/local.properties
/android/build/

/ios/Jarvis.xcworkspace/xcuserdata/
/ios/Jarvis.xcodeproj/project.xcworkspace/
