node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea
.vscode
.env

android/.gradle/*
android/app/build/*
android/gradle.properties
android/app/key.keystore
android/app/google-services.json
android/app/src/release/google-services.json
android/app/src/release/google-services.json

ios/build/*
ios/Pods/*
ios/Podfile.lock