node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea
.vscode
.env
package-lock.json

fastlane/api.jsond

android/.gradle/*
android/app/build/*
android/gradle.properties
android/app/key.keystore
android/app/google-services.json
android/app/src/release/google-services.json
android/app/src/debug/google-services.json

ios/build/*
ios/Pods/*
ios/Podfile.lock