<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841022927166-ovmn7pgasl1c4pauv8r0khq1rncuknel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841022927166-ovmn7pgasl1c4pauv8r0khq1rncuknel</string>
	<key>API_KEY</key>
	<string>AIzaSyAflTrAQD9fy3HwcpRr4ur39MBO6rccTc0</string>
	<key>GCM_SENDER_ID</key>
	<string>841022927166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SSAR</string>
	<key>PROJECT_ID</key>
	<string>react-native-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841022927166:ios:e586c418193bc02fdbbc6f</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-ar.firebaseio.com</string>
</dict>
</plist>
